<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="css.css" />
</head>

<div >
	<table id="hosts">
	  <tr>
	    <th>Name</th>
	    <th>Host Name</th> 
	    <th>Port</th>
	    <th>Username</th>
	  </tr>
	</table>
	<p id="loadMore"  style="display: none" align="center"><a href="javascript:;" onclick="getHosts();" class="load">Load More</a></p>
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://localhost/myserver/hosts.js"></script>
